@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #efefef;
  }
  .card {
    box-shadow: 2 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px; 
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 20px 0;
    border-radius: 20px;
    cursor: pointer;    
  }

  .card-img-top {
   height: 196.63px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 196.63px;
    cursor: pointer;
  }
  
  .card-img-pro {
    box-shadow: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 196.63px;
    max-width: 286px;
    cursor: pointer;
    
  }
  
  .supaimage {
    max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
    height: auto; /* Se ajustará automáticamente para mantener la relación de aspecto */
    border-radius: 20px, 20px, 0, 0; 
    }
  .card:after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  nav .navar {
    width: 100%;
    max-width: auto;
    display: flex;
    justify-content: space-between; /* Corregido */
    align-items: center;
    padding: 24px 40px;
    
  }
  
  nav ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
  }
  
  menu-icon {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .menu-icon {
      display: block;
    }
    nav ul {
      display: none;
    }
  }

 
    
    
  section article:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


section article {
  border-radius: 2px;
}
.typecard {
  
  
  border: 2px;
  border-color: black;
  border-style: solid;
  margin: 70px;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
  
  
}
.providerdata col-md-3 mb-4 {
  border: 2px;
  
  border-style: solid;
  background-color: aquamarine;
}
.foto .imgx{
  
  max-height: 400px;
  

   
}
.textcenter {
  text-align: center;
  padding-top: 10px;
}
.supaimage {
  border: solid;
  border-color: black;
}

